
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:wght@500&family=Quicksand:wght@400;700&display=swap');




*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

html{
  height: 100%;
}


body{ 
  cursor: default;
  height: 100vh;
  color: white;
  font-family:'quicksand', sans-serif ;
  font-weight: 900;
  overflow-x: hidden;
  
}

.container{
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.page{
  display: flex;
  display: block;
  height: 100vh;
  justify-content: center;
  scroll-snap-align: start;
}

.slide{
  display: flex;
  flex-direction: row;
  display: block;
  height: 100vh;
  min-width: 100vw;
}

.page--1{
  background: rgba(0, 0, 0, 0.6);
  background-image: url("page1.jpg");
  background-size: cover;
  background-blend-mode:multiply ;
}  

nav{
  padding: 2em;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 95%;
  min-height:10vh ;
  align-items: center;
  margin: auto;
}

#logo{
  font-size: 1.5rem;
  color: green;
}

.nav-links{

  display: flex;
  justify-content: space-between;
  list-style: none;
  z-index: 1;
}

.nav-links,h1{
  flex: 1;
}

.nav-links li{
  cursor: pointer;
  padding: 0.5rem;
}



#contact{
  border: 2px solid green;
  border-radius: 0.8rem;
}

.main{
  padding: 3em;
  padding-top: 10em;
  display: flex;
  flex-direction: row;
}

.main-text{
  max-width: 45em;
  display: flex;
  flex-direction: column;
  padding-top: 4em;
  padding-right: 4em;
  padding-left: 2em;
}

#main-title{
  font-family: 'Poppins', sans-serif;
  font-size:3.5rem ;
  line-height: 3rem;
}

.para--main{
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  font-size: 1.2rem;

}

#plan{
  display: flex;
  cursor: pointer;
  border: 3px solid green;
  height: 1.7em;
  background: rgba(0,128,0,0);
  color: white;
  padding-bottom: 0.5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  border-radius: 0.3rem;
  max-width: 20ch;
  font-family: 'Poppins', sans-serif;
  transition: all 0.35s ease-in;
  font-size: 2rem;
}



.green{
  color: green;
}

.page--2{
  background: black;
  }



#abt-us{
  display: inline-block;
  background: white;
  color: Green;
  padding-left: 3em;
  padding-right: 1rem;
  margin-top: 2.8em;
  font-family: 'Poppins', sans-serif;
  font-size:3.5rem ;
}

#abt{
  display: inline-block;
  border: 4px solid green ;
  font-size: 1.8rem;
  padding-right: 9.5em;
  padding-left: 1rem;
  margin-left: 30%;
  margin-top: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 70vw;
}



.page--3{
  display: flex;
  flex-direction: row;
  background: black;
  overflow-x: hidden;

}

.header{
  display: block;
  background: #404040;
  height: 3.5em;
}

#services{
  display: inline-block;
  color: green;
  border-radius: 0.8rem;
  text-decoration: underline;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1.8em;
  margin-left: 7.9em;
  font-family: 'Poppins', sans-serif;
  font-size:3.5rem ;
  

}

.servicedesc{
  font-size: 1.5rem;
  padding-left: 7.5em;
  padding-top: 2rem;
  padding-bottom: 1em;
  width: 90vw;

}

#search{
  cursor: pointer;
  border: 0;
  height: 2em;
  border: 3px solid green;
  font-size: 1.9rem;
  margin-left: 70vw;
  padding-left: 3rem;
  padding-top: 0.6rem;
  margin-top: 4rem;

}

select{
  cursor: pointer;
  margin-top: 2rem;
  margin-left: 20em;
  margin-bottom: 2em;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  background: black;
  color: white;
  border: 4px solid green;
}

.slide--1{
  margin-left: 100%;
  background: black;
  transition: margin 0.6s ease;
}

.sliding-front{
  margin-left: -100%;
  transition: all 0.6s ease ;
}

.slide--2{
  background: black;
}

#placedesc{
  color: white;
  font-size: 1.5rem;
  padding-left: 25%;
  padding-top: 2rem;
  margin-bottom: 1em;
  width: 90vw;
}

#cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5.5em;
  padding-right: 6em;
  padding-top: 4em;
}



.cord{
  margin:0 ;
  margin-bottom: 1em;
  background-size: cover;
  max-width: 25ch;
  padding: 7rem 0 0;
  color: white;
  text-align: left;
  border-radius: 0.8rem;
  overflow: hidden;
  transition: transform 300ms ease-in;
  transform: scale(1.5);
}

#card1{
  margin-left: 3em;

}

#card2{

}

#card3{
  margin-right: 3em;

}

.card-content{
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(rgba(0,0,0,0),
    rgba(0,0,0,0.5)10%,
    rgba(0,0,0,1));
  transform: translateY(50%);
  transition: transform 500ms ease-in;
}

.card-title{
  font-size: 1.3rem;
  position: relative;
  width: max-content;
  margin-bottom: 1.5rem;
}

.card-title::after{
  content: "";
  position: absolute;
  width: calc(100% + var(--padding));
  height: 4px;
  left:calc(var(--padding)*-1);
  bottom: 0;
  background: green;
  transform: scaleX(0);
  transform-origin:left ;
  transition: transform 500ms ease;
}


.buton{
  cursor: pointer;
  text-decoration: none;
  display: inline;
  color: black;
  background-color:green ;
  padding: 0.5em 1.25em;
  border-radius: 0.5rem;
}

.buton:hover{
  background-color: white;
}

.cord:hover{
  transform: scale(1.515);
}


.cord:hover .card-title::after{
  transform: scaleX(1.0);
}

.cord:hover .card-content{
  transform: translateY(0%);
  transition-delay: 500ms;
}


.card-content > *:not(.card-title){
  opacity: 0;
  transition: opacity 1s linear ;

}

.cord:hover .card-content > *:not(.card-title){
  opacity: 1;
  transition-delay: 1s;
}

.back--2{
  display: inline-block;
  cursor: pointer;
  border: 0;
  height: 2em;
  border: 3px solid green;
  font-size: 1.9rem;
  margin-left: 92.6vw;
  padding-left: 1rem;
  padding-right: 3rem;
  padding-top: 0.6rem;
  margin-top: 3rem;

}

.modal-container{
  position: fixed;
  background: rgba(0, 0, 0, 0.7) ;
  min-width: 100vw;
  min-height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center ;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;

}

.modal{
  position: fixed;
  background: black;
  width: 60%;
  min-height: 80vh;
  padding-left: 1rem;
  visibility: hidden;
  transition: all 0.3s ease;
  border: 5px solid green;
  border-radius: 1rem;
}


.mclose{
  cursor: pointer;
  color: green;
  font-size: 3rem;
  margin-bottom: 0rem;
  padding-left: 95%;
  text-shadow: 1px 1px black;
}

.mheading{
  color: green;
  font-size: 2rem;
  padding-bottom: 2rem;
  text-shadow: 2px 2px black;
}

.mcontent{
  color:white;
  font-size: 1.8rem;
  padding-bottom: 0.8rem;

}

.hotel-heading{
  color: green;
  font-size: 1.8rem;
  text-shadow: 2px 2px black;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.mhotel{
  font-size: 1.5rem;
  color: white;
}

.mfood{
  font-size: 1.5rem;
  color: white;
}

.modal-appear{
  visibility: visible;
  opacity: 1;
}

.smodal-appear{
  visibility: visible;
}

.page--4{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  background-image: url("page4.jpg");
  background-size: cover;
  background-blend-mode:multiply ;
}

#contact-us{
  border: 4px solid white;
  border-radius: 0.8rem;
  height: 60%;
  width: 70%;
  padding-left: 3rem;
  padding-top: 5rem;
  padding-right: 3rem;
}

#contactheading{
  font-size: 3rem;
}

#cnt{
  font-size: 2rem;
}
