
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:wght@500&family=Quicksand:wght@400;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{ 
  color: white;
  background-image: url("t19.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center ;
  font-family:'quicksand', sans-serif ;
  font-weight: 900;
}

.page{
  width: 94%;
  min-height: 92vh;
  padding: 3em;
  margin-bottom: 1em;
  justify-content: center;
  border-radius: 1.8rem;
}

.cursor{
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid green;
  /*border-radius: 50%;*/
  transition: 2s;
  position: absolute;
  transform: rotate(-45deg) translate(0%,-50%);
  pointer-events: none;
  transition: all 0.5s ease;
  transition-property: background,transform;
  transform-origin: 50% 50%;
  z-index: -1;

}

.link-grow{
  transform: scale(4.0) rotate(90deg);
  border-radius: 50% 50%;
  background: green;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 93%;
  min-height:10vh ;
  align-items: center;
  margin: auto;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-links,h1{
  flex: 1;
}

.nav-links li{
  padding: 1rem;
}


.main{
  padding-top: 3em;
  display: flex;
  flex-direction: row;
}

.main-text{
  max-width: 45em;
  display: flex;
  flex-direction: column;
  padding-top: 4em;
  padding-right: 4em;
  padding-left: 2em;
}

#main-title{
  font-family: 'Poppins', sans-serif;
  font-size:3.5rem ;
  line-height: 3rem;
}

.para--main{
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  font-size: 1.2rem;

}

#plan{
  display: flex;
  cursor: pointer;
  border: 0;
  height: 1.7em;
  background: rgba(0,128,0,0);
  color: green;
  padding: 0.5rem;
  max-width: 10ch;
  border-radius: 0.3rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.9rem;
}

#plan:hover{
  color: black;
  background: green;
  transition: all 200ms ease-in;
}

.green{
  color: green;
}
