
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:wght@500&family=Quicksand:wght@400;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  color: white;
  background-image: url("t19.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.page{
  background: rgba(0, 0, 0, 0.5);
  width: 94%;
  min-height: 92vh;
  padding: 3em;
  box-shadow: 0 0 3em rgba(255,255,255,0.15);
  margin-bottom: 1em;
  justify-content: center;
  border-radius: 1.8rem;
}

#topbar{
  display: flex;
  font-family:'quicksand', sans-serif ;
  font-weight: 900;
  flex-direction: row;
  width: 100%;
  padding-bottom:4em ;
}

#logo{
  padding-right: 30%;
  font-size: 1.5rem;
}

.nav:not(:first-child,:last-child){
  padding-left: 3rem;
}

.nav:last-child{
  padding-left: 15rem;
  padding: 0.5rem
}

.nav:nth-last-child(2){
  padding-right: 18em;
}

.main{
  display: flex;
  flex-direction: row;
}

.main-text{
  max-width: 45em;
  display: flex;
  flex-direction: column;
  padding-top: 4em;
  padding-right: 4em;
  padding-left: 2em;
}

#main-title{
  font-family: 'Poppins', sans-serif;
  font-size:3.5rem ;
  line-height: 3rem;
}

.para--main{
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  font-family:'quicksand', sans-serif ;
  font-weight: 900;
  font-size: 1.2rem;

}

#plan{
  display: flex;
  cursor: pointer;
  border: 0;
  height: 1.7em;
  background: green;
  color: white;
  padding: 0.5rem;
  max-width: 10ch;
  border-radius: 0.3rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.9rem;
}

.green{
  color: green;
}
